html {
text-align: center;
}

body {
   background-image: url('./images/chuck-norris-ninjas.png');
  background-size: cover;
  background-color: black;
  /* background-blend-mode: saturation; */
}

.main-container {
  width: 75%;
  margin: auto;
  text-align: center;
  background-color: white;
  opacity: 0.75;
  border-radius: 3%;
  border: 3px solid darkred;
  padding: 2%;
}

.title {
  font-size: 3rem;
}

.paragraph {
  font-size: 1.4rem;
}

.button {
  font-size: 1.9rem;
  border: 3px solid;
  padding: 1%;
  background-color: darkred;
  color: white;
  border-radius: 5%;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
